django
langchain
langchain-core
langchain-community
pypdf
pymupdf
chromadb
huggingface_hub
sentence-transformers
langchain-text-splitter
langchain-groq
python-dotenv
langchain-tavily
deepagents
docling
langchain-docling
fastapi
uvicorn